doctype html
html(lang="en")
  head
    title #{locals.pkg.name}

    //---------------------- Vendor CSS Files ----------------------------------------------------------------//
    link(type='text/css' rel='stylesheet' href='vendor/bootstrap/dist/css/bootstrap.css')
    link(type='text/css' rel='stylesheet' href='vendor/bootstrap/dist/css/bootstrap-theme.css')

    //---------------------- Vendor JS Files -----------------------------------------------------------------//
    script(type='text/javascript' src='vendor/react/dist/react.js')
    script(type='text/javascript' src='vendor/jquery/dist/jquery.js')
    script(type='text/javascript' src='vendor/bootstrap/dist/js/bootstrap.js')

    //---------------------- APP CSS Files --------------------------------------------------------------------//
    link(type='text/css' rel='stylesheet' href='styles/#{locals.pkg.name}.styles.css')

    //---------------------- APP JS Files --------------------------------------------------------------------//
    script(type='text/javascript' src='scripts/#{locals.pkg.name}.scripts.js')
    script(type='text/javascript' src='app/#{locals.pkg.name}.scripts.js')

  body
    h1 D-Tox Sample App Made From Skeleton
    h2 Using Jade - Stylus - Livescript - Gulp
    #container.col

      p.
        This Sample will show the power of
        this skeleton and its ease of use
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.
